/* Reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'PT Sans Narrow', sans-serif;

}
header{
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 2;
}
nav{
    position: relative;

}

ul{
    position: absolute;
    right: 30px;
    top: 10px;
}

li{
    display: inline-block;
    background-color: white;
    color: black;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    margin-right:20px;
    font-weight: 700;
}
.container-shoes{
    height: 100vh;
    position: relative;
    color: #ffff00;
    text-align: center;
}

.content-shoes{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}
#victoria-shoes{
    background-color: #ff0000;
}
h1{
    position:relative;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    bottom: 70px;

}
#hilfiger-shoes{
    background-color: #008000;
}
#converse-shoes{
    background-color: #ffff00;
    color: #008000;
}